In [1]:
import pandas as pd
import os
import shutil
from pathlib import Path

In [8]:
folder_address=r"E:\LABORATORY\PROJECTS\Data Analysis\resources\exports"

In [99]:
class FileModification:
    '''modify file names, location, create dataframes'''
    def __init__(self,folder_address):
        '''get current working directory address'''
        self.address=folder_address
    
    def original_file(self):
        '''get original file names'''
        os.chdir(self.address)
        '''take only file names'''
        self.file_names=[file for file in os.listdir() if os.path.isfile(file)]
        return self.file_names
    
    def rename_file_names(self):
        '''rename file names, save to a new directory'''
        source=self.address
        '''create directory'''
        try:
            os.chdir(source)
            destination=os.path.join(source,'modified') 
            os.mkdir(destination) # new folder created
        except:
            pass
        '''rename file names'''
        for file in self.file_names:
            source_file=source+'\\'+file
            '''modify file name, fetch only dates'''
            '''file modification --starts--'''
            newfilename="-".join([item for item in os.path.splitext(file)[0].split('-') if item.isdigit()])+'.csv'
            '''file modification --ends--'''
            final_file=destination+'\\'+newfilename
            try:
                shutil.copy2(source_file,final_file)
            except:
                pass
        self.modified_destination=destination
        return self.modified_destination
    
    def new_files_read(self):
        os.chdir(self.modified_destination)
        self.new_files=os.listdir()
        return self.new_files
    
    def create_dataframes(self):
        os.chdir(self.modified_destination)
        self.dataframe={os.path.splitext(file)[0]:pd.read_csv(self.modified_destination+'//'+file) for file in self.new_files}
        return self.dataframe
    
    def get_data(self):
        self.original_file()
        self.rename_file_names()
        self.new_files_read()
        return self.create_dataframes()

In [107]:
project=FileModification(folder_address).get_data()

In [187]:
df=project['2014-2015']

In [188]:
df

,PC_CODE,PC_DESCRIPTION,UNIT,CTY_CODE,CTY_DESC,Qty,VAL(USD Million)
0,99,OTHER COMMODITIES,NaN,599,UNSPECIFIED,NaN,371.280801
1,99,OTHER COMMODITIES,NaN,1213,KENYA,NaN,18.251164
2,99,OTHER COMMODITIES,NaN,1395,TANZANIA REP,NaN,21.844100
3,99,OTHER COMMODITIES,NaN,1417,UGANDA,NaN,8.034605
4,99,OTHER COMMODITIES,NaN,2035,BENIN,NaN,1.812666
...,...,...,...,...,...,...,...
20825,S6,PETROLEUM PRODUCTS,TON,16009,ANDORRA,1.0,0.001387
20826,S6,PETROLEUM PRODUCTS,TON,16151,GIBRALTAR,938293.0,637.680697
20827,S6,PETROLEUM PRODUCTS,TON,16233,LIECHTENSTEIN,15.0,0.013127
20828,S6,PETROLEUM PRODUCTS,TON,16251,MALTA,285510.0,205.211589
20829,S6,PETROLEUM PRODUCTS,TON,16409,TURKEY,1928915.0,1363.090167

In [195]:
df.groupby(by=['PC_DESCRIPTION'])['VAL(USD Million)'].sum()

PC_DESCRIPTION
AC, REFRIGERATION MACHNRY ETC     1168.325169
ACCUMULATORS AND BATTERIES         213.063906
AGRO CHEMICALS                    1951.767036
AIRCRAFT, SPACECRAFT AND PARTS    6158.508268
ALCOHOLIC BEVERAGES                369.594698
                                     ...
VEGETABLE OILS                      94.561884
WHEAT                              828.754182
WOLLEN YARN,FABRICS,MADEUPSETC     201.847231
WOOL, RAW                            0.039559
ZINC AND PRODUCTS MADE OF ZINC     608.060111
Name: VAL(USD Million), Length: 168, dtype: float64